{% extends 'base.html' %}
{% load static %}

{%block link %}
<link rel="stylesheet" href="{% static 'style/auth.css' %}">

{% endblock %}

{% block content %}

<div class="members-container container">
	<!-- <div class="auth-block-container">
		<h2>Авторизация</h2>
		<form action="" method="post"> 
			{% csrf_token %} 
			<input type="text" name="username" placeholder="Қолданушы атауы" required>
			<input type="password" name="password" placeholder="Құпия сөз" required>
			<p id="mobile_mess">Егер сізде аккаунт жоқ болса, <a href="#">басыңыз</a></p>
			<p style="color:red">{{ error }}</p>
			<button>Алға</button>
		</form>
	</div>  -->
<div class="container-auth" id="container">
	<div class="form-container sign-up-container">
		<form action="{% url 'register' %}" method="POST">
			<h1>Тіркелу</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
			{% csrf_token %} 
			<input type="text" placeholder="Қолданушы атауы" />
			<input type="email" placeholder="Email" /> 
			<input type="password" placeholder="Құпия сөз" />
			<button type="submit">Тіркелу</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="" method="post">
			<h1>Кіру</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			{% csrf_token %} 
			<input type="text" name="username" id="id_username" placeholder="Қолданушы атауы" />
			<input type="password" name="password" id="id_password" placeholder="Құпия сөз" />
			<a href="#">Құпия сөзді ұмыттым</a>
			<button type="submit">алға</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Менде аккаунт бар, артқа!</h1>
				<p>Өтінемін егер сізде аккаунт болса осы батырманы басып аккаунтқа кіріңіз</p>
				<button class="ghost" id="signIn">Аккаутқа кіру</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Сәлем, досым!</h1>
				<p>Егер сенде аккаунт жоқ болса осы батырманы басып тіркел</p>
				<button class="ghost" id="signUp">Тіркелу</button>
			</div>
		</div>
	</div>
</div>
 
<!-- 
	<div class="auth-block-container">
		<h2>Тіркелу</h2>
		<form action="{% url 'register' %}" method="post">  
				{% csrf_token %}
				<input type="text" name="username" maxlength="150" autofocus required id="id_username" placeholder="@қолданушы атауы">
				<input type="text" name="first_name" maxlength="150" autofocus required id="id_first_name" placeholder="Есімі">
				<input type="text" name="last_name" maxlength="150" autofocus required id="id_last_name" placeholder="Тегі">
				<input type="password" name="password1" autocomplete="new-password" required id="id_password1" placeholder="Құпия сөз">
				<input type="password" name="password2" autocomplete="new-password" required id="id_password2" placeholder="Құпия сөз (қайталау)">
			<button>Алға</button>
		</form>
	</div> -->
</div>
{% endblock %}