{% extends 'base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="container">
	<div class="main-block-page">
		<span>Информатика</span>
		<p>Жоба информатика сабағын онлайн оқуға арналған. Бұл платформада мұғалім оқушыға 'Тест', 'Сәйкестендір', 'Бос орынды толтыр' және 'Кодты аяқта' - форматындағы сұрақтарды құрастыра алады. Сабақты өткен оқушы кері байланыс жасап аяқтайды, мұғалім оны мониторинг бөлімінен көреді. Платформа мүмкіндіктерімен <a href="{% url 'documentation' %}">толығырақ танысу</a>.</p>
	</div>
</div>
{% endif %}
{% endblock %}