{% load static %}
<!DOCTYPE html> 
<html>
<head lang="kk">
	<meta charset="utf-8">
	<title>Информатика</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@1,300&family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">	 
	<script src="https://kit.fontawesome.com/e9b4a4c6c5.js" crossorigin="anonymous"></script>
</head>
<body>
	<header>
		<div class="header-title">
			Информатика
		</div>	
	</header>
	<nav>
		<div id="open_menu">☰<span id="open_menu_text"></span></div>
		<ul>
			<li><a href="{% url 'main' %}"><i class="fas fa-home"></i> <span class="nav-link-text">Басты парақ</span></a></li>
			<li><a href=""><i class="fas fa-newspaper"></i> <span class="nav-link-text">Жаңалықтар</span></a></li>
			<li><a href="{% url 'compiler' %}"><i class="fas fa-code"></i> <span class="nav-link-text">Компилятор</span></a></li>
			<li><a href="{% url 'subject' %}"><i class="fas fa-graduation-cap"></i> <span class="nav-link-text">Мектеп</span></a></li>
			<!-- <li>
				<details>
					<summary style="color: #378752;"><i class="fas fa-laptop-code"></i> <span class="nav-link-text">Информатика</span></summary>
					<details class="details-in-nav">
						<summary>6 - сынып</summary>
						<div class="nav-details-content">
							<a href="#">IDE - мен танысу</a>
							<a href="#">IDE - мен танысу</a>
							<a href="#">IDE - мен танысу</a>
							<a href="#">Тіл алфабиті синтаксис</a>
						</div>
					</details>
					<details class="details-in-nav">
						<summary>7 - сынып</summary>
						<div class="nav-details-content">
							<a href="#">IDE - мен танысу</a>
							<a href="#">IDE - мен танысу</a>
							<a href="#">IDE - мен танысу</a>
							<a href="#">Тіл алфабиті синтаксис</a>
						</div>
					</details>
					<details class="details-in-nav">
						<summary>8 - сынып</summary>
						<div class="nav-details-content">
							<a href="#">IDE - мен танысу</a>
							<a href="#">IDE - мен танысу</a>
							<a href="#">IDE - мен танысу</a>
							<a href="#">Тіл алфабиті синтаксис</a>
						</div>
					</details>
				</details>
			</li> -->
			<li><a href="https://kundelik.kz/" target="_blank"><i class="fas fa-book-reader"></i> <span class="nav-link-text">Kundelik.kz</span></a></li>
			

			{% if request.user.is_authenticated %}
			<!-- <li><a href="{% url 'task_add' %}"><i class="fas fa-book-reader"></i> <span class="nav-link-text">Тапсырма қосу</span></a></li> -->
			<li><a href="{% url 'add_course' %}"><i class="fas fa-wrench"></i> <span class="nav-link-text">Сабақ қосу</span></a></li>
			<li><span class="nav-link-text"><a href="{% url 'members' %}"><i class="fas fa-user-graduate"></i> {{ request.user }}</a> <a href="{% url 'logout' %}" id="logout">шығу</a></span></li>
			{% else %}
			<li><a href="{% url 'members' %}"><i class="fas fa-user-graduate"></i> <span class="nav-link-text">Аккаунт ашу</span></a></li>
			{% endif %}
		</ul>
	</nav>
	<script type="text/javascript" src="{% static 'scripts/jquery-3.6.0.min.js' %}"></script>
	<main>
		{% block content %}
		{% endblock %}
	</main>
	<script src="https://kit.fontawesome.com/e9b4a4c6c5.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'scripts/script.js' %}"></script>
	<!-- <script type="text/javascript" src="{% static 'scripts/course.js' %}"></script>	 -->

	{% block script %}
	{% endblock %}
</body>
</html>